body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #16e2f9;
}

header.huvud {
    margin: 10px;
    padding: 10px;
    background-color: #00c5a1;
    color: rgb(5, 105, 105);
    text-align: center;
    border: 5px solid #940470;
    border-radius: 15px;
}
footer.fot {
    margin: 10px;
    padding: 10px;
    background-color: #00c5a1;
    color: rgb(5, 105, 105);
    text-align: center;
    border: 5px solid #940470;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
}
.foot{
    text-decoration: none;
    color: rgb(5, 105, 105);
}
.sten {
    display: grid;
    grid-template-columns:60% 30%;
    grid-gap: 20px;
    margin: 10px;
    padding: 10px;
}

main.left {
    grid-column: 1;
    margin: 10px;
    padding: 20px;
    width: auto;
    height: auto;
    border: 5px solid #940470;
    border-radius: 15px;
    background-color: #0374b5;
    font-weight: bold;
}

article.right {
    grid-column: 2;
    margin: 20px; 
    padding: 20px;
    width: auto;
    height: auto;
    border: 5px solid #940470;
    border-radius: 15px;
    background-color: #02decc;
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}
h1 {
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 34px;
    margin-bottom: 10px;
    color:rgb(5, 105, 105);
}
h2 {
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
h3 {
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
nav ul {
    list-style-type: none;
    padding: 7px;
    margin: 25px;
    text-align: center;
    background-color: #62079f;
    border: 5px solid #940470;
    border-radius: 10px;
}
.lila{
    display: inline;
    margin: 0 35px;
    font-size: 20px;
    font-weight: bold;
}
.list {
    list-style-type: symbols(circle);
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}
a {
    text-decoration: none;
    color: rgb(236, 67, 255);
}
nav a:hover {
    color: rgb(255, 255, 255);
}
