body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #aa7efa, rgb(109, 12, 193), #16e2f9, rgb(179, 247, 255));
}

header.huvud {
    margin: 10px;
    padding: 10px;
    background-color: #00c5a1;
    color: rgb(5, 105, 105);
    text-align: center;
    border: 5px solid #940470;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
footer.fot {
    margin: 10px;
    padding: 10px;
    background-color: #00c5a1;
    color: rgb(5, 105, 105);
    text-align: center;
    border: 5px solid #940470;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.foot{
    text-decoration: none;
    color: rgb(5, 105, 105);
}
.sten {
    display: grid;
    grid-template-columns:60% 30%;
    grid-gap: 20px;
    margin: 10px;
    padding: 10px;
}

main.left {
    grid-column: 1;
    margin: 10px;
    padding: 20px;
    width: auto;
    height: auto;
    border: 5px solid #940470;
    border-radius: 15px;
    background: linear-gradient(to bottom right, #0b679c, #aa7efa);
    font-weight: bold;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

article.right {
    grid-column: 2;
    margin: 20px;   
    padding: 20px;
    width: auto;
    height: auto;
    border: 5px solid #940470;
    border-radius: 15px;
    background-color: #02decc;
    font-weight: bold;
    background: linear-gradient(to bottom left, #02decc, #aa7efa);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}
h1 {
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 34px;
    margin-bottom: 10px;
    color:rgb(5, 105, 105);
}
h2 {
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
h3 {
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
nav ul {
    list-style-type: none;
    padding: 7px;
    margin: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
   
}
.lila{
    display: inline-block;
    background-color: #62079f;
    border: 5px solid #940470;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin: 0 35px;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    text-size-adjust: auto;
}
.list {
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}
a {
    text-decoration: none;
    color: rgb(236, 67, 255);
}
nav a:hover {
    color: rgb(255, 255, 255);
}
